@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to TestNet!</h1>
</div>
<div>
    <p>
        TestNet is a bitcoin network where the bitcoins are both freely available and worthless.
        It's perfect to use for developing bitcoin software without risking real money.
        You can use my web wallet for playing around on TestNet...
    </p>
    <h4>Getting started...</h4>
    <ol>
        <li>
            <a href="/Identity/Account/Register">Register</a> for an account.
        </li>
        <li>
            Use the <a href="/DepositAddresses">Deposits</a> link to generate a deposit address.
        </li>
        <li>
            Send some TestNet bitcoins to your deposit address. There are "faucet" web sites that you can use to send
            yourself free TestNet coins. See links below.
        </li>
        <li>
            Wait for your deposit transaction to get a confirmation. It usually takes about 10 minutes.
        </li>
        <li>
            Your <b>Balance</b> above should then show you have bitcoins to spend.
        </li>
        <li>
            Use the <a href="/Withdrawals">Withdrawal</a> link to send your bitcoins to somewhere else.
            Of course, you can't withdraw more than you have!
        </li>
        <li>
            Feel free to <b>contact me</b> with questions.
            My e-mail address is my first name Clark plus my last name Thompson and then 315 and the domain is gmail.com.
        </li>
    </ol>
    <h4>Useful Links...</h4>
    <ul>
        <li>
            <a href="https://bitcoinfaucet.uo1.net/" target="_blank">https://bitcoinfaucet.uo1.net/</a>
            - TestNet bitcoin faucet. Get free testnet coins!
        </li>
        <li>
            <a href="https://live.blockcypher.com/btc-testnet" target="_blank">https://live.blockcypher.com/btc-testnet</a>
            - TestNet blockchain explorer.
        </li>
        <li>
            <a href="https://bitcoin.org/en/download" target="_blank">https://bitcoin.org/en/download</a>
            - Download bitcoin core wallet. Required if you want to set up a full node bitcoin server for your project.
        </li>
        <li>
            <a href="https://developer.bitcoin.org/reference/" target="_blank">https://developer.bitcoin.org/reference/</a>
            - RPC call list that you'll use to interact with bitcoin core from your code.
        </li>
        <li>
            <a href="https://www.coinbase.com/" target="_blank">https://www.coinbase.com/</a>
            - If you want to buy real bitcoins.
        </li>
    </ul>
</div>
